<h1>Register Account</h1>
<form action="/account/register" method="POST">
  <label for="account_firstname">First Name:</label>
  <input type="text" name="account_firstname" required>

  <label for="account_lastname">Last Name:</label>
  <input type="text" name="account_lastname" required>

  <label for="account_email">Email:</label>
  <input type="email" name="account_email" required>

  <label for="account_password">Password:</label>
  <input type="password" name="account_password" required>

  <button type="submit">Register</button>
</form>
<script src="/js/registration.js" defer></script>

